:root {
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --branding-color: rgb(154, 205, 50);
  --background-color: #f9f7fe;
}

h1,
h4 {
  font-family: var(--heading-font);
  font-weight: 700;
}

p {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.button {
  border: 2px solid var(--branding-color);
  border-radius: 6px;
  font-family: var(--secondary-font);
  font-weight: 500;
  padding: 20px 48px;
  transition: all ease-in-out 180ms;
}

a {
  text-decoration: none;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
}

h4 {
  font-size: 48px;
}

h5 {
  color: rgba(39, 33, 66, 0.7);
  font-family: var(--secondary-font);
  font-size: 18px;
}

footer {
  margin-bottom: 60px;
}

.homepage-hero {
  background-color: var(--background-color);
  padding: 350px 0 250px 0;
  text-align: center;
}

.homepage-hero h1 {
  font-size: 120px;
}

.homepage-hero h2 {
  color: 272142;
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 90px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
}

.btn-homepage:hover {
  background: #f9f7fe;
  color: var(--branding-color);
}

.btn-about:hover {
  background-color: white;
  color: var(--branding-color);
}

.app-title {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 50px;
}

.homepage-divider {
  margin: 80px 0;
}

.btn-branding-outline {
  color: var(--branding-color);
  font-size: 16px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

footer .contact-box {
  background-color: var(--background-color);
  padding: 20px 0;
  margin: 130px 0 30px 0;
}

footer h5 {
  font-size: 20px;
}

footer .homepage-email {
  color: black;
  font-family: var(--secondary-font);
  font-size: 24px;
  text-decoration: none;
  transition: all ease-in-out 150ms;
}

footer .homepage-email:hover {
  color: var(--branding-color);
}

.social-links {
  background-color: var(--background-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 16px 12px 16px;
  transition: all ease-in-out 150ms;
}

.social-links:hover {
  background-color: var(--branding-color);
  color: white;
}

.about-section h1 {
  font-size: 64px;
  line-height: 85px;
  margin: 20px 0;
}

.about-section h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 30px 0;
}

.about-section p {
  margin-bottom: 80px;
}

.img-headshot {
  border-radius: 15px;
  margin: 30px;
  max-height: 560px;
}

.about-section-content {
  margin: 200px auto 80px auto;
}

.app-panels {
  margin-bottom: 80px;
}

.app-img {
  padding: 40px;
}

.work-section h3 {
  font-size: 24px;
  line-height: 36px;
  margin: 20px;
}

.work-section h1 {
  font-size: 64px;
  margin: 180px 0 50px 0;
}

nav img {
  max-height: 100px;
}

nav li {
  display: inline;
  list-style: none;
  padding: 0 25px;
}

nav ul {
  display: inline;
  margin: 0 20px 0 0;
  padding: 0;
}

nav li a {
  color: black;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

nav li a:hover {
  color: var(--branding-color);
}

.active {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  .homepage-divider {
    margin: 30px auto;
  }
  .project-description {
    text-align: center;
  }

  .app-title {
    font-size: 40px;
  }

  .app-description {
    font-size: 14px;
  }

  .homepage-hero {
    padding: 225px 0 125px 0;
  }

  .homepage-hero h1 {
    font-size: 55px;
    margin-bottom: 0;
  }
  .homepage-hero h2 {
    font-size: 18px;
    margin-top: 10px;
  }

  .img-headshot {
    max-width: 300px;
  }

  .about-section-content {
    margin-top: 40px;
    text-align: center;
  }

  .about-section p {
    margin-bottom: 20px;
  }
}
